.client-content{    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.client-row-header{
    height: 35px;
    background-color: #03AAFB;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

/****************
Blue header bar
****************/

.client-row-header > *{
    margin-left: 5px;
    margin-right: 5px;
}

.client-row-header h2{
    color: #333333;
    font-size: 16;
    font-family: sans-serif, monospace;
    font-weight: normal;
}

.dropDownSelect
{
    font-size: 14px;
    padding-left: 5px;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #333333;
    border-bottom-width: 2px;
    width: 200px;
    color: #333333;
    transition: 0.5s;
}

.dropDownSelect:hover
{
    border-bottom-color: #F3F3F3;
}

.dropDownSelect:focus
{
    border: 1px solid #03AAFB;
}

.dropDownSelect option
{
    background: #373741;
}

/****************
Row under header
****************/

.client-row{    
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.client-row-content{
    width: 100%;
    height: 100%;    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    align-items: center;
}

/******
Panels
******/

.client-panel{
    height: 100%;
    width: 100%;
    background: #373741;
    opacity: 0.8;
}

.panel-normal{
    grid-column: span 1;
}

.panel-double{
    grid-column: span 2;
}

.client-panel h3{
    margin: 15px 0px 15px 10px;
    font-family: sans-serif, monospace;
    font-size: 14;
    font-weight: normal;
    color: #808080;
}

/**************
Details panel
**************/

#clientdash-job-details .panel-content{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#ref-no{
    
}

.details-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details-heading{
    font-family: sans-serif, monospace;
    font-size: 12;
    font-weight: normal;
    color: #808080;
    margin-bottom: 5px;
    margin-top: 0px;
}

.details-info{
    font-family: sans-serif, monospace;
    font-size: 12;
    font-weight: normal;
    color: #F3F3F3;
}

/*************
Updates panel
*************/

#clientdash-job-updates .panel-content{
    margin-left: 10px;
    display: grid;
    grid-template-columns: 150px auto;
    grid-auto-rows: auto;
}


#clientdash-job-updates .panel-content h4{
    margin: 0px 0px 15px 0px;
    font-weight: normal;
    font-family: sans-serif, monospace;
    font-size: 12pt;
    color: #808080;
}

.updates-heading-feedback{
    margin-left: 15px !important;
}

.update-milestone{    
    border-right: 2px solid #97A6B7;
    padding: 10px 5px 10px 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: normal;
    font-family: sans-serif, monospace;
    font-size: 10pt;
}

.milestone-completion-time{
    color: #808080;
}

.milestone-completion-details{
    color: #F3F3F3;
}

.milestone-name{
    color: #03AAFB;
}

.update-feedback{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: normal;
    font-family: sans-serif, monospace;
    font-size: 10pt;
    color: #F3F3F3;
}

.update-feedback-triangle{
    border: 8px solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #97A6B7;
}