body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.mainPage
{        
    min-height: 0;
    transition: 0.5s ease-in-out;
}

#main
{
    height: 100%;
    /*padding: 10px 50px 10px 50px;*/
    transition: 0.5s ease-in-out;
}

#nav-body
{
    margin: 0;
    padding: 0;
    transition: 0.5s ease-in-out;
}

.account
{
    height: 25px;
    width: 25px;
    filter: brightness(0%);
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.topNav
{
    background: #03AAFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    color: black;
}

.userInfo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo span:after
{
    content: '';
    display: block;
    border-bottom: 1px solid #000000;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.userInfo span:hover:after
{
    transform: scaleX(1);
}

.userName
{
    font-size: 15px;
    margin-right: 15px;
    cursor: pointer;
}
/*
**************************
CREATION OF HAMBURGER MENU
**************************
*/
.sideNav
{
    width: 0px;
    height: 0px;
    background-color: #373741;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: flex-start;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

#menu
{
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
}

.bar
{
    height: 3px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
    text-align: right;
}
#bar1
{
    transform: translateY(-4px);
}

#bar3
{
    transform: translateY(4px);
}

.change #bar1
{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3
{
    transform: translateY(-2px) rotateZ(45deg);
}

.change #bar2
{
    opacity: 0;
}
/*
*********************
END OF HAMBURGER MENU
*********************
*/

/*
*********************
SIDE NAV CONTENT EDIT
*********************
*/
.sideNav div
{
    width: 80%;
    color: #808080;
    padding: 10px;
    text-align: left;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    transition: 0.5s ease;
}

.sideNav div span
{
    cursor: pointer;
}

.sideNav div img
{
    height: 20px;
    width: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.sideNav div:hover
{
    color: #03AAFB;
    margin-right: 0px;
    border-left: 3px solid #03AAFB;
}
/*
*****************
SIDE NAV EDIT END
*****************
*/

/*
**********************
USER ACCOUNT NAV START
**********************
*/
.accountNav
{
    width: 150px;
    height: 0px;
    top: 0;
    right: 0;
    margin-top: 40px;
    background-color: #373741;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: flex-start;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.3s ease-in-out;
}

.accountNav div
{
    cursor: pointer;
    color: #808080;
    width: 90%;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    transition: 0.3s ease;
}

.accountNav div:hover
{
    color: #03AAFB;
    margin-right: 0px;
    padding-right: 0px;
    border-left: 3px solid #03AAFB;
}
/*
****************
USER ACCOUNT END
****************
*/

/*
*************************
DASHBOARD CONTENT STYLING
*************************
*/

/*
.dashContent
{
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 250px);
    grid-template-columns: repeat(auto-fit, 600px);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

.dashContent div
{
    height: 250px;
    width: 600px;
    background: #373741;
    opacity: 0.8;
}
*/

.dashContent{
    width: 100%;
    height: 100%;
    min-height: 0;
}