.forgotPasswordPage
{
    height: 100vh;
}



#forgotPasswordPage
{
    display: none;
}


.contentFgPw
{
    display: grid;
    grid-template-rows: 20% 1fr 2fr 1fr;
    grid-template-areas: "logo"
                         "backToLogin"
                         "resetInpContent"
                         "resetSubmit";
    margin: auto;
    background: rgba(55, 55, 65, 0.8);
    height: 300px;
    width: 565px;
}

.contentOTP
{
    display: grid;
    grid-template-rows: 20% 1fr 2fr 1fr;
    grid-template-areas: "logo"
                         "backToLogin"
                         "resetInpContent"
                         "resetSubmit";
    margin: auto;
    background: rgba(55, 55, 65, 0.8);
    height: 250px;
    width: 565px;
}

.logo
{
    grid-area: logo;
}

.backToLogin
{
    grid-area: backToLogin;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.returnToLoginBtn
{
    width: 150px;
    height: 30px;
    border: none;
    background: #03AAFB;
    color: #F3F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    transition: 0.25s ease-out;
}

.returnToLoginBtn:hover
{
    background: #373741;
    border: solid #03AAFB 1px;
}

.returnToLoginBtn:active
{
    background: #03AAFB;
}

.resetInpContent
{
    grid-area: resetInpContent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "resetImg select ."
                         "emailImg email ."
                         "pinImg pin .";
    margin: auto;
    margin-top: 0px;
}

.resetImg
{
    grid-area: resetImg;
    height: 25px;
    width: 25px;
    margin-left: 120px;
    margin-top: 3px;
}

.emailImg
{
    grid-area: emailImg;
    height: 25px;
    width: 25px;
    margin-top: 20px;
    margin-left: 120px;
}

.pinImg
{
    grid-area: pinImg;
    height: 25px;
    width: 25px;
    margin-left: 120px;
    margin-top: 20px;
}

#pinInp
{
    grid-area: pin;
}

.dropDownSelect
{
    grid-area: select;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #808080;
    width: 250px;
    height: 30px;
    color: #F3F3F3;
    transition: 0.5s;
}

.dropDownSelect:hover
{
    border-bottom-color: #03AAFB;
}

.dropDownSelect:focus
{
    border: 1px solid #03AAFB;
}

.dropDownSelect option
{
    background: #373741;
}

.passwordRecoveryInp
{
    grid-area: email;
    width: 250px;
    height: 30px;
    margin: auto;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #808080;
    color: white;
    margin-top: 15px;
    transition: 0.5s;
}

.passwordRecoveryInp:hover
{
    border-bottom-color: #03AAFB;
}

.passwordRecoveryInp:focus
{
    border: 1px solid #03AAFB;
}

.resetSubmit
{
    grid-area: resetSubmit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetSubBtn
{
    width: 250px;
    height: 30px;
    border: none;
    background: #03AAFB;
    color: #F3F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    transition: 0.25s ease-out;
}

.resetSubBtn:hover
{
    background: #373741;
    border: solid #03AAFB 1px;
}

.resetSubBtn:active
{
    background: #03AAFB;
}

.pinInp
{
    grid-area: email;
    width: 250px;
    height: 30px;
    margin: auto;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #808080;
    color: white;
    margin-top: 15px;
    transition: 0.5s;
}

.pinInp:hover
{
    border-bottom-color: #03AAFB;
}

.pinInp:focus
{
    border: 1px solid #03AAFB;
}