.resetPwInput
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5% 95%;
    grid-template-areas: "reset1 input1"
                         "reset2 confirmInp";
    align-items: center;
}

#lock1
{
    grid-area: reset1;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

#lock2
{
    grid-area: reset2;
    margin-top: 0;
    margin-bottom: 0;
}

#newPwInp
{
    grid-area: input1;
    margin-top: 0;
    margin-bottom: 0;
}

#confirmPwInp
{
    grid-area: confirmInp;
    margin-top: 15px;
    margin-bottom: 15px;
}

.subNewPwBtn
{
    margin-top: 25px;
    width: 150px;
    height: 30px;
    border: none;
    background: #03AAFB;
    color: #F3F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    transition: 0.25s ease-out;
}

.subNewPwBtn:hover
{
    background: #373741;
    border: solid #03AAFB 1px;
}

.subNewPwBtn:active
{
    background: #03AAFB;
}