.registerCompanyPage
{
    height: 100%;
}

.registerTitleContent
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo"
                         "registerOptionBtns"
                         "registerOptions"
                         "companyName";
    margin: auto;
    background: rgba(55, 55, 65, 0.8);
    height: 250px;
    width: 565px;
    margin-bottom: 20px;
}

.logo
{
    grid-area: logo;
}

.registerOptionBtns
{
    grid-area: registerOptionBtns;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.backToLoginFromReg
{
    width: 100px;
    height: 30px;
    border: none;
    background: #282837;
    border: solid 1px #03AAFB;
    color: #F3F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 20px;
    transition: 0.25s ease-out;
}

.backToLoginFromReg:hover
{
    border: none;
    background: #03AAFB;
}

.backToLoginFromReg:active
{
    background: #282837;
}

.registerBtnRegPage
{
    width: 100px;
    height: 30px;
    border: none;
    background: #03AAFB;
    color: #F3F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 20px;
    transition: 0.25s ease-out;
}

.registerBtnRegPage:hover
{
    background: #282837;
    border: solid 1px #03AAFB;
}

.registerBtnRegPage:active
{
     background: #03AAFB;
}

.registerOptions
{
    grid-area: registerOptions;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #808080;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.registerOptions:hover
{
    border-color: #03AAFB;
}

#companyOption
{
    transition: 0.5s;
}

#privClient
{
    transition: 0.5s;
}

#companyOption:hover
{
    color: #03AAFB;
}

#privClient:hover
{
    color: #03AAFB;
}



.radioFont
{
    margin-right: 20px;
}

#companyRadio
{
    margin-right: 15px;
}

.companyName
{
    grid-area: companyName;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.companyNameInp
{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #808080;
    width: 500px;
    height: 30px;
    color: #F3F3F3;
    transition: 0.5s;
}

.companyNameInp:hover
{
    border-bottom-color: #03AAFB;
}

.contactsHeader
{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 540px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactsHeader font
{
    font-size: 24px;
}

#add_Contact_Btn2
{
    display: none;
}

.contactsContent
{
    display: grid;
    grid-template-rows: 10% 33% 15% 33% 10%;
    grid-template-areas: "contactHeader"
                         "userNPassInp"
                         "names"
                         "otherContactDet"
                         "confirmContact";
    margin: auto;
    background: rgba(55, 55, 65, 0.8);
    height: auto;
    width: 565px;
    margin-bottom: 20px;
}

.contactsContent, img, input
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#contactCrossImg
{
    margin-top: 0;
    margin-bottom: 0;
}

#contactDownArrow
{
    margin-top: 0;
    margin-bottom: 0;
}

.contactContentHeader
{
    grid-area: contactHeader;
    color: #03AAFB;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contactContentHeaderLine
{
    display: inline-block;
    width: 75%;
    border-color: #03AAFB;
    margin-left: 5px;
}

.contactCrossImg
{
    height: 25px;
    width: 25px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.contactCrossImg:hover
{
    transform: rotate(180deg);
}

.contactDownArrow
{
   height: 25px;
   width: 25px;
   margin-right: 5px;
   transition: 0.5s;
}

.contactDownArrow:hover
{
    transform: rotate(180deg);
}

.usernPassInp
{
    grid-area: userNPassInp;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "account usernameInp"
                         "lock passwInp";
    align-items: center;
}

#ContactUsername
{
    grid-area: usernameInp;
    margin-right: 15px;
}

#ContactPassw
{
    grid-area: passwInp;
    margin-right: 15px;
}

.contactLockImg
{
    grid-area: lock;
    height: 25px;
    width: 25px;
    align-self: center;
    margin-left: 15px;
}

.contactAccountImg
{
    grid-area: account;
    height: 25px;
    width: 25px;
    align-self: center;
    margin-left: 15px;
}


.names
{
    grid-area: names;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idCard
{
    height: 25px;
    width: 25px;
}

#id1
{
    margin-left: 15px;
}

.otherContactDet
{
    grid-area: otherContactDet;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 10% 90%;
    grid-template-areas: "emailImg emailInp"
                         "phoneImg phoneInp";
    align-items: center;
}

#contactEmail
{
    grid-area: emailInp;
    margin-right: 8px;
}

#contactPhoneNum
{
    grid-area: phoneInp;
    margin-right: 8px;
}

.contactEmailImg
{
    grid-area: emailImg;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

.phoneContactImg
{
    grid-area: phoneImg;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

.confirmContact
{
    grid-area: confirmContact;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-bottom: 20px;
}

.registerFooter
{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.contactInput
{
    width: 500px;
    height: 30px;
    margin: auto;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #808080;
    color: white;
    transition: 0.5s;
}

#contactFirstName, #contactLastName
{
    width: 210px;
}

#contactFirstName
{
    margin-left: 18px;
}

#contactLastName
{
    margin-right: 8px;
}

.addContact
{
    display: flex;
    justify-content: center;
}

.addContactBtn
{
    width: 120px;
    height: 30px;
    border: none;
    background: #03AAFB;
    color: #F3F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 420px;
    transition: 0.25s ease-out;
}

.addContactBtn:hover
{
    border: none;
    background: #282837;
    border: solid 1px #03AAFB;
}

.addContactBtn:active
{
    background: #03AAFB;
    border: none;
}

.contactsContent input
{
    transition: 0.5s;
}

.contactsContent input:hover
{
    border-bottom-color: #03AAFB;
}

.contactsContent input:focus
{
    border: 1px solid #03AAFB;
}

.confirmContact:hover
{
    color: #03AAFB;
}

.addressHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.addressHeader font
{
    font-size: 24px;
    margin-right: 455px;
}

.addressContent
{
    margin: auto;
    margin-bottom: 20px;
    background: rgba(55, 55, 65, 0.8);
    height: auto;
    width: 565px;
    display: grid;
    grid-template-rows: 10% 15% 15% 15% 15% 15%;
    grid-template-areas: "addressHeader"
                         "streetNum"
                         "streetName"
                         "suburbCity"
                         "postalCode"
                         "addInfo"
                         "confirmSite";
}

.addressContent img input
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.addressContentHeader
{
    color: #03AAFB;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
}

.addressContentHeader1
{
    color: #03AAFB;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
}

.addressContent .addressInp
{
    margin-right: 8px;
    width: 500px;
    height: 30px;
    margin: auto;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #808080;
    color: white;
    transition: 0.5s;
}

.addressContent img
{
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-right: 10px;
}

.streetNum
{
    grid-area: streetNum;
    display: flex;
    justify-content: center;
    align-items: center;
}

.streetName
{
    grid-area: streetName;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suburbCity
{
    grid-area: suburbCity;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postalCode
{
    grid-area: postalCode;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addInfo
{
    grid-area: addInfo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmSite
{
    grid-area: confirmSite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addressContent .addressInp:hover
{
    border-bottom-color: #03AAFB;
}

.confirmSite label
{
    transition: 0.5s;
}

.confirmSite label:hover
{
    color: #03AAFB;
}

.addressContent #contactCrossImg
{
    margin-left: 8px;
    margin-right: 5px;
}

.addressContent #contactDownArrow
{
    margin-left: 8px;
}

.addSite
{
    display: flex;
    justify-content: center;
}

.addSiteBtn
{
    width: 120px;
    height: 30px;
    border: none;
    background: #03AAFB;
    color: #F3F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 420px;
    transition: 0.25s ease-out;
}

.addSiteBtn:hover
{
    border: none;
    background: #282837;
    border: solid 1px #03AAFB;
}

.addSiteBtn:active
{
    background: #03AAFB;
    border: none;
}

#add_site_btn2
{
    display: none;

}

.registerAccount
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.regAcBtn
{
    position: sticky;
    width: 250px;
    height: 30px;
    border: none;
    background: #03AAFB;
    color: #F3F3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    transition: 0.25s ease-out;
}

.regAcBtn:hover
{
    border: none;
    background: #282837;
    border: solid 1px #03AAFB;
}

.regAcBtn:active
{
    background: #03AAFB;
    border: none;
}

.error
{
    color: red;
    font-size: 8px;
}